header, footer {
    background: linear-gradient(0.5turn, #00F2DE, #00FFEA, #00D9C7);
}

.link{
    
    font-size: medium;
    color: black;
    text-decoration: none;

}

.link:hover {
     color: #0C8FF9;
     }

     .styled {
        margin-left: 80%;
        line-height: 2.5;
        padding: 0 40px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: red;
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    }
    
    .styled:hover {
        background-color: #0BB5DB;
    }
    
    .styled:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    .mr{
        margin-right:80px;
    }
    .noTopBorder{
        border-top: none;
    }
    .noBotBorder{
        border-bottom: none;
    }
    .noRightBorder{
        border-right: none;
    }
    .noLeftBorder{
        border-left: none;
    }
    footer{
        background-color:#2C69E8;
    }
    .backImage{
        background-image: url('https://wallpapercave.com/wp/wp9917991.jpg');
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
